#Clutter
.env
node_modules/
frontend-status/
C:/
data/
src/content/
.claude
rust-src/target/
rust-src/target/doc/
rust-src/target/debug/
rust-src/src/games/*
#Secrets (we mustn't leak these or snotty skids will yeet us)
*.pub
id_github_actions