#Clutter
node_modules/
frontend-status/
# FULL DRIVE IGNORE OF SHAME
#C:/ what?? who's the idiot that ignored the C drive?
data/
src/content/
.claude
rust-src/target/
rust-src/src/games/*
#Secrets (we mustn't leak these or snotty skids will yeet us)
.env
*.pub
id_github_actions